# Ignore node_modules and build directory from React app
/tms-app/node_modules/
/tms-app/build/

# Ignore Python virtual environment and __pycache__
/tms-server/venv/
/tms-server/__pycache__/

# Ignore any other common files
.DS_Store
.idea/
.vscode/
.env
