#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.leaflet_stuff {
  text-align: center;
}

/* Sizing map container */
.leaflet-container {
  height: 100vh;
}